{
    "layer": "bottom", // Waybar at top layer
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 30, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    "spacing": 0, // Gaps between modules (4px)
    // Choose the order of the modules
    "modules-left": ["hyprland/workspaces", "hyprland/submap"],
    "modules-center": ["hyprland/window"],
    "modules-right": [ "custom/rightfirstborderradius", "custom/media", "custom/media/pause", "pulseaudio", "cpu", "memory", "keyboard-state", "battery", "battery#bat2", "network", "tray", "clock", "custom/wlogout"],
    // Modules configuration
    
    "hyprland/workspaces": {
      "format": "<sup>{icon}</sup> {windows}",
      "on-scroll-up": "hyprctl dispatch workspace e-1",
      "on-scroll-down": "hyprctl dispatch workspace e+1",
      "format-window-separator": " • ",
      "window-rewrite-default": ""
      //"window-rewrite": {
      //    "title<.*youtube.*>": "", // Windows whose titles contain "youtube"
      //    "class<firefox>": "", // Windows whose classes are "firefox"
      //    "class<VencordDesktop>": "",
      //    "class<VSCodium>": "",
      //    "class<Kitty>": "",
      //    "class<firefox> title<.*github.*>": "", // Windows whose class is "firefox" and title contains "github". Note that "class" always comes first.
      //    "foot": "", // Windows that contain "foot" in either class or title. For optimization reasons, it will only match against a title if at least one other window explicitly matches against a title.
      //    "code": "󰨞"
      //}
    },

    "hyprland/window": {
        "separate-outputs": true
    },


    "keyboard-state": {
        "numlock": true,
        "capslock": true,
        "format": "{name} {icon}",
        "format-icons": {
            "locked": "",
            "unlocked": ""
        }
    },
    "hyprland/submap": {
        "format": "<span style=\"italic\">{}</span>"
    },
   
    "tray": {
        // "icon-size": 21,
        "spacing": 10
    },
    "clock": {
        "format" : "{:%d/%m/%Y - %H:%M}",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "calendar": {
            "mode-mon-col"  : 3,
            "on-scroll"     : 1,
            "on-click-right": "mode",
            "format": {
                      "months":     "<span color='#ffead3'><b>{}</b></span>",
                      "days":       "<span color='#ecc6d9'><b>{}</b></span>",
                      "weekdays":   "<span color='#ffcc66'><b>{}</b></span>",
                      "today":      "<span color='#ff6699'><b><u>{}</u></b></span>"
                      }
            },
        "actions":  {
            "on-scroll-up": "shift_up",
            "on-scroll-down": "shift_down"
            }
    },
    "cpu": {
        "format": "{usage}% ",
        "tooltip": false
    },
    "memory": {
        "format": "{}% "
    },
    "battery": {
        "states": {
            // "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
        "format-icons": ["", "", "", "", ""]
    },
    "battery#bat2": {
        "bat": "BAT2"
    },

    {{   if eq .chezmoi.osRelease.id "arch" }}
    "network": {
        "format-wifi": "{essid} ({signalStrength}%) ",
        "format-ethernet": "\uf796",
        "tooltip-format": "{ipaddr}/{cidr} | {ifname} via {gwaddr} \uf796 | Wireless SigStrength: {signalStrength}% ",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Disconnected ⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    {{   else if eq .chezmoi.osRelease.id "debian" }}
    "network": {
        "format-wifi": "{essid} ({signalStrength}%) \uf1eb",
        "format-ethernet": "\uf1eb",
        "tooltip-format": "{ipaddr}/{cidr} | {ifname} via {gwaddr} \uf1eb | Wireless SigStrength: {signalStrength}% ",
        "format-linked": "{ifname} (No IP) \uf1eb",
        "format-disconnected": "Disconnected ⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    {{   end }}

    
    "pulseaudio": {
        "scroll-step": 1, // %, can be a float
        "format": "{volume}% {icon} {format_source}",
        "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth-muted": " {icon} {format_source}",
        "format-muted": " {format_source}",
        "format-source": "{volume}% ",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },
    //"custom/media": {
    //    "format": "{icon} {}",
    //    "return-type": "json",
    //    "max-length": 40,
    //    "format-icons": {
    //        "spotify": "",
    //        "firefox": "🎜",
    //        "default": "🎜"
    //    },
//
    //    "on-click": "playerctl play-pause",
    //    "on-scroll-up": "playerctl next",
    //    "on-scroll-down": "playerctl previous",
    //    "escape": true,
    //    "tooltip": true,
    //    "tooltip-format": "{icon} {}",
    //    "exec": "/usr/bin/python3 ~/.config/waybar/custom_modules/mediaplayer.py 2> /dev/null" // Script in resources folder
    //    // "exec": "$HOME/.config/waybar/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
    //},
    "custom/rightfirstborderradius": {
        "format": " ",
        "tooltip": false
    },
    "custom/wlogout": {
        "format": "<span foreground=\"black\">\uf011</span>",
        "tooltip": false,
        "on-click": "wlogout"
    }
}

