wallpaper_path=$(eval echo $(grep -Po 'wallpaper\s*=\s*\K\S+' $HOME/.config/waypaper/config.ini))
wallust run "$wallpaper_path"


pkill waybar
waybar


{{   if eq .chezmoi.osRelease.id "arch" }}
#Keyboard vVv
~/.config/waybar/generated-kbd-color.txt
rgb_keyboard --brightness 9 \
--leds hurricane \
--color $(cat ~/.config/waybar/generated-kbd-color.txt) \
--speed 0 \
--direction left \
--profile 1
{{   end }}